@model IEnumerable<WebApp.UI.Models.AppModule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Upsert">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppModuleId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppModuleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentModuleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Upsert", new { appModuleId = item.AppModuleId }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Upsert", new { /* id = item.AppModuleId */ })
                </td>
            </tr>
        }
    </tbody>
</table>
